.overview_desc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  padding: 5vh 10vw;
  border-radius: 15px;
}

.overview_desc img {
  width: 25vw;
  height: 25vw;
  border-radius: 15px;
}

.overview_desc h3 {
  margin-bottom: 4vh;
}

.overview_desc p {
  margin: 1vh 0;
}

.overview-desc-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40vw;

}

.select_tech_hpc {
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px 40px 20px;
}

.select_tech_hpc h2 {
  text-align: center;
  color: #ffffff;
}

.select_tech_hpc h3 {
  text-align: center;
  color: #ffffff;
  padding-bottom: 20px;
}

.select_tech_hpc p {
  text-align: center;
  color: #dddddd;
}

.architect_desc_card_text {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tech_card_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.tech_hpc_card {
  background-color: #111111;
  border-radius: 12px;
  padding: 20px;
  width: 100%;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Ẩn ảnh trong các thẻ có class marked_img */
.marked_img img {
  margin-top: 30px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.marked_img:hover {
  transform: translateY(-150px);
  box-shadow: 0 0 20px rgba(0, 191, 255, 0.7);
}

.transform_up_hover:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px rgba(0, 191, 255, 0.7);
}

/* Bung ra */
.marked_img:hover img {
  max-height: 500px; /* lớn hơn chiều cao thực tế của ảnh */
  opacity: 1;
}

/* ----------------------- */

.architect_desc_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.architect_desc_card {
  padding: 20px 10px 10px 10px;
  background-color: #111111;
  border-radius: 12px;
  padding: 20px;
  width: 100%;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.architect_desc_card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px rgba(0, 191, 255, 0.7);
}

.architect_desc_container img {
  margin-top: 30px;
  max-height: 0;
  max-width: 40vw;

  opacity: 0;
  overflow: hidden;
  transition: max-height 1s ease, opacity 0.5s ease;
}

/* Bung ra */
.architect_desc_container:hover img {
  max-height: 500px; /* lớn hơn chiều cao thực tế của ảnh */
  opacity: 1;
}

.our_hpc_platform {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10vh 10vw;
  gap: 10px;
}

.our_hpc_platform h3 {
  padding: 30px;
}

.our_hpc_platform_container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.our_hpc_platform_container img {
  border-radius: 15px;
}

.column_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.our_hpc_platform_text {
  text-align: left;
  margin: 0 0 0 20px;
  border-radius: 15px;
  border: 1px solid black;
  padding: 15px;
  background-color: #000000;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 500;
}
